# Ignora o ambiente virtual
venv/
.venv/

# Ignora arquivos de cache do Python
__pycache__/
*.pyc

# Ignora seus PDFs (se não quiser torná-los públicos)
*.pdf

# Ignora o banco de dados do Chroma (caso você decida salvar em disco no futuro)
chroma_db/

conversar.py

# Ignora a pasta oculta de plugins
**/.terraform/*

# Ignora os arquivos de estado com dados sensíveis (CRUCIAL!)
*.tfstate
*.tfstate.*

# Ignora arquivos de log de erro
crash.log
crash.*.log

# Ignora arquivos de variáveis secretas (se você usar no futuro)
*.tfvars
*.tfvars.json